body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.splash-screen {
    color: rgb(60,60,60);
    height: 100vh;
    width: 100vw;
    text-align: left;

    background: url("../media/me10.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#tom-titles {
    padding-left: 20vh;
    padding-top: 20vh;

}

#tom-title {
    font-size: 5rem;
    font-weight: 300;

}

#tom-subtitle {
    font-size: 3rem;
    font-weight: 200;

}

header {
    height: 1px;
    background-color: rgb(60,60,60);
}

h1 {
    margin: 0;
}


#s-about {
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-image: url("../media/RobbyBurns.png");
    background-repeat: no-repeat;
    background-size: cover;
}



#s-about h1 {
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
    word-spacing: 1rem;
}

#s-about p {
    padding-left: 1vw;
    padding-right: 1vw;
    word-spacing: 0.2rem;
    text-align: justify;
    font-size: larger;
}

#s-cv {
    height: 100vh;
}

#logos {
    padding-top: 30vh;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

#s-contact p {
    padding-top: 20vh;
    font-weight: 100;
    font-size: 1.8rem;
    text-align: center;
}

#github-logo, #li-logo {
    height: 8vh;
}