body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.splash-screen {
    background-color: none;
    color: rgb(41,41,41);
    height: 100vh;
    width: 100vw;
    text-align: center;
}

header {
    height: 1px;
    background-color: rgb(60,60,60);
}

h1 {
    margin: 0;
}

#s-contact {
    text-align: center;
}