/* main nav */
#main-nav {
    background-color: rgb(0,0,0);
    top: 0;
    color: whitesmoke;
    font-size: 1.5rem;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#main-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-mainNav #main-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#main-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 0s;    
}

.fixed-mainNav #main-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-mainNav #main-nav {
    position: fixed;
    background-color: rgb(255,140,0);
}

/* about nav */
#about-nav {
    background-color: rgb(0,0,0);
    top: 0;
    color: whitesmoke;
    font-size: 1.5rem;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#about-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#about-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-aboutNav #about-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#about-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 0s;    
}

.fixed-aboutNav #about-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-aboutNav #about-nav {
    position: fixed;
    background-color: rgb(0,208,255);
}

/* cv nav */
#cv-nav {
    background-color: rgb(0,0,0);
    top: 0;
    color: whitesmoke;
    font-size: 1.5rem;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#cv-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#cv-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-cvNav #cv-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#cv-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 0s;    
}

.fixed-cvNav #cv-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-cvNav #cv-nav {
    position: fixed;
    background-color: rgb(255,0, 217);
}

/* portfolio nav */
#portfolio-nav {
    background-color: rgb(0,0,0);
    top: 0;
    color: whitesmoke;
    font-size: 1.5rem;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#portfolio-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#portfolio-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-portfolioNav #portfolio-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#portfolio-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 0s;    
}

.fixed-portfolioNav #portfolio-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-portfolioNav #portfolio-nav {
    position: fixed;
    background-color: rgb(68,255,0);
}

/* blog nav */
#blog-nav {
    background-color: rgb(0,0,0);
    top: 0;
    color: whitesmoke;
    font-size: 1.5rem;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#blog-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#blog-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-blogNav #blog-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#blog-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 0s;    
}

.fixed-blogNav #blog-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-blogNav #blog-nav {
    position: fixed;
    background-color: rgb(255,0,0);
}

/* contact nav */
#contact-nav {
    background-color: rgb(0,0,0);
    top: 0;
    color: whitesmoke;
    font-size: 1.5rem;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#contact-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#contact-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-contactNav #contact-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#contact-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 0s;    
}

.fixed-contactNav #contact-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-contactNav #contact-nav {
    position: fixed;
}