/* main nav */
#main-nav {
    background-color: none;
    top: 0;
    color: rgb(41,41,41);
    font-size: 1.5rem;
    font-weight: 100;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#main-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-mainNav #main-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#main-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 1s;   
}

.fixed-mainNav #main-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-mainNav #main-nav {
    position: fixed;
    background-color: rgb(255, 140, 0);
    color: black;
    font-weight: 200;
}

/* about nav */
#about-nav {
    background-color: none;
    top: 0;
    color: rgb(41,41,41);
    font-size: 1.5rem;
    font-weight: 100;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#about-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#about-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-aboutNav #about-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#about-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 1s;
}

.fixed-aboutNav #about-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-aboutNav #about-nav {
    position: fixed;
    background-color: rgb(0, 219, 15);
    color: black;
    font-weight: 200;
}

/* cv nav */
#cv-nav {
    background-color: rgb(5,5,5);
    top: 0;
    color: rgb(117, 84, 0);
    font-size: 1.5rem;
    font-weight: 100;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#cv-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#cv-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-cvNav #cv-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#cv-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 1s;
}

.fixed-cvNav #cv-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-cvNav #cv-nav {
    position: fixed;
    background-color:rgb(0, 212, 219);
    color: black;
    font-weight: 200;
}

/* portfolio nav */
#portfolio-nav {
    background-color: rgb(5,5,5);
    top: 0;
    color: rgb(117, 84, 0);
    font-size: 1.5rem;
    font-weight: 100;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#portfolio-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#portfolio-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-portfolioNav #portfolio-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#portfolio-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 1s;    
}

.fixed-portfolioNav #portfolio-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-portfolioNav #portfolio-nav {
    position: fixed;
    background-color: rgb(197, 0, 219);
    color: black;
    font-weight: 200;
}

/* contact nav */
#contact-nav {
    background-color: rgb(5,5,5);
    top: 0;
    color: rgb(117, 84, 0);
    font-size: 1.5rem;
    font-weight: 100;

    position: relative;
    width: 100vw;
    z-index: 1;
}

#contact-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#contact-nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-contactNav #contact-nav-title {
    max-width: 100vw;
    justify-content: left;
}

#contact-nav-title {
    max-width: 0;
    overflow: hidden;
    transition: all 1s;    
}

.fixed-contactNav #contact-nav a {
    max-width: 0;
    overflow: hidden;
}

.fixed-contactNav #contact-nav {
    position: fixed;
    background-color: rgb(219, 219, 0);
    color: black;
    font-weight: 200;
}