.timeline-container {
    padding: 1vw;
  }

  .timeline-title {
      font-weight: 100;
      font-size: 1.5rem;
  }

  .timeline-date {
      font-weight: 300;
      font-size: 2rem;
  }

  .timeline {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 30px 0 10px 0;
    position: relative;
  }
  
  .entry {
    display: inline-block;
    vertical-align: top;
    color: rgb(235,235,235);
    padding: 5px;
    text-align: center;
    position: relative;
    border-top: 4px solid #06182E;
    border-radius: 5px;
    max-width: 500px;
    white-space: pre-wrap;
    background-color: rgb(60,60,60);
    border: solid rgb(235,235,235) 0.5px;
  }

  
  /* the circles on the pointers */
  .entry:after {
    content: '';
    display: block;
    background: #eee;
    width: 7px;
    height: 7px;
    border-radius: 6px;
    border: 3px solid black;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -6px;
  }
  
  /* the pointer */
  .entry:before {
    content: '';
    display: block;
    background: black;
    width: 5px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -2px;
  }
    
  .timeline-bar {
    height: 4px;
    background: #eee;
    width: 100%;
    position: relative;
    top: 13px;
    left: 0;
  }